
button {
  height: 50px;
  border-radius: 16px !important;
  background-color: #004FD4 !important;
  font-family: 'Roboto Mono', monospace;
  padding: 16px 30px !important;
  line-height: 18.46px !important;
}