<<<<<<< HEAD
<<<<<<< HEAD
.protocol-ui-card {
  font-family: inherit;
  width: 300px;
  height: 300px;
=======
.jurne-button {
  outline: none;
  padding: 5px;
>>>>>>> 5fbac97 (Ready to create NPM package)
=======
.jurne-card {
  font-family: inherit;
  width: 300px;
  height: 300px;
>>>>>>> 30b6f2d (Introduce tailwind and the first component)
}
